*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
    width: 3px;
    background-color: rgb(37, 37, 37);
}

::-webkit-scrollbar-thumb{
    width: 2px;
    background-color: rgb(51, 51, 51);
    border-radius: 8px;
}

/* Loading */

.loading{
    display: block;
    position: absolute;
    width: 500px;
    height: 480px;
    background-color: rgb(22, 0, 22);
    z-index: 30;
}

/* Bedroom */

.wall{
    position: absolute;
    width: 500px;
    height: 80px;
    background-color: rgb(37, 37, 37);
    background-image: url(./../texture/bedroom-wall001.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.floor{
    position: absolute;
    top: 80px;
    width: 500px;
    height: 400px;
    background-image: url(./../texture/floor001.jpg);
    background-size: 50px;
}

.bedroom-door{
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 10;
    background-image: url(./../texture/doorlight.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(370px, 400px);
    filter: blur(10px);
    opacity: .4;
}

.light-bedroom{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #ffffffff;
    z-index: 10;
    transform: translate(200px, 200px);
    border-radius: 100%;
    filter: blur(80px);
    opacity: .7;
}

    /* Obejcts */

    .window{
        position: absolute;
        background-image: url(./../bedroom-scenery/window.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 60px;
        height: 60px;
        z-index: 1;
        transform: translate(180px, 4px);
    }

    .computer-table{
        position: absolute;
        background-image: url(./../bedroom-scenery/tablecpu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 70px;
        height: 70px;
        z-index: 1;
        transform: translate(0px, 30px);
    }  

    .picture-shelf{
        position: absolute;
        width: 35px;
        height: 35px;
        background-image: url(./../bedroom-scenery/shelf-pictures.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        transform: translate(90px, 10px);
    }

    .bedside-table{
        position: absolute;
        width: 60px;
        height: 60px;
        z-index: 2;
        background-image: url(./../bedroom-scenery/bedsidetablewithcellphone.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transform: translate(-8px, 200px);
    }

/* Pictures */


#image-input{
    position: absolute;
    display: none;
}

.image-area{
    position: absolute;
    z-index: 12;
    transform: translate(-250px, 135px);
    overflow-x: scroll;
}

.image-area{
    display: inline-flex;
    list-style: none;
    width: 500px;
}

.image-area li{
    margin: .6rem;
}

.image-area li img{
    width: auto;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(243, 136, 74);
    height: 80px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.21); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.21);
}

.pictures{
    display: none;
    position: absolute;
    width: 500px;
    height: 480px;
    background-color: rgb(37, 37, 37);
    z-index: 11;
}

.pictures .add-image{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(56, 56, 56);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
    margin: 2rem;
    transform: translate(-250px, 0px);
    z-index: 12;
}

.pictures .add-image:hover{
    transition: linear .2s;
    cursor: pointer;
    background-color: rgb(85, 85, 85); 
}

.send-image-btn{
    position: absolute;
    width: 100px;
    height: 30px;
    color: white;
    background-color: rgb(15, 15, 15);
    border-radius: 8px;
    border-style: none;
    font-weight: bolder;
    transform: translate(-140px, 40px);
    z-index: 12;
}

.send-image-btn:hover{
    transition: linear .2s;
    cursor: pointer;
    background-color: rgb(27, 27, 27);
}

.pictures .shelf{
    position: absolute;
    width: 100%;
    height: 500px;
    background-image: url(./../texture/woodshelf001.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: translate(0px, 50px);
}

.return-btn{
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url(./../texture/button001.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 12;
    margin: 2rem;
    transform: translate(0px, 350px);
}

.return-btn:hover{
    transition: linear .2s;
    cursor: pointer;
}

/* Cellphone */

.cellphone{
    position: absolute;
    width: 200px;
    height: 350px;
    background-image: url(./../texture/cellphone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
    z-index: 12;
    transform: translate(120px, 40px);
    display: none;
}

.cellphone .messages-box{
    width: 120px;
    height: 212px;
    position: absolute;
    list-style: none;
    font-weight: bolder;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 7.5pt;
    transform: translate(40px, 50px);
    overflow-y: scroll;
}

.messages-box .messages{
    color: white;
    font-weight: normal;
}

.messages-box .nameCtt{
    margin-top: 4px;
    font-size: 5pt;
}

.sendedMessage{
    margin-bottom: .5rem;
}

.cellphone li{
    padding-left: 2px;
}

.cellphone .close-cellphone{
    position: absolute;
    width: 20px;
    height: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffffff;
}

.cellphone .close-cellphone:hover{
    transition: linear .2s;
    cursor: pointer;
}


        /* Message Input*/
        .message-input{
            position: absolute;
            width: 100px;
            height: 20px;
            border-radius: 8px;
            border-style: solid;
            transform: translate(-60px, 265px);
            font-size: 8pt;
            font-family: 'Courier New', Courier, monospace;
        }

        .sendMenssage-btn{
            position: absolute;
            width: 20px;
            height: 20px;
            transform: translate(147px, 267px);
            background-image: url(./../texture/button002.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 95%;
    
        }

.cellphone-icon{
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url(./../icon/cellphoneoff-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    z-index: 12;
    transform: translate(450px, 300px);
}

.cellphone-icon:hover{
    cursor: pointer;
    opacity: .8;
}

/* Person */

.floor #person{
    background-image: url(./../charater/front01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65px;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 0px;
    z-index: 9;
    animation: none;
}
    /* Player Name */

    #person #name{
        padding-top: 2px;
        border-radius: 7px;
        border-color: #ffffffff;
        border-width: 1px;
        border-style: solid;
        transform: translate(0rem ,-1.3rem);
        font-size: 8pt;
        width: auto;
        height: 15px;
        background-color: rgb(20, 20, 20);
        font-family: 'Courier New', Courier, monospace;
        overflow: hidden;
        opacity: .8;
        color: white;
    }

/* Exit */
    .exit{
        display: none;
        position: absolute;
        width: 300px;
        height: 200px;
        background-color: rgb(27, 27, 27);
        border-radius: 8pt;
        transform: translate(80px, 100px);
        z-index: 11;
    }

    .exit h2{
        margin: 1.5rem;
        font-size: 15pt;
        color: #ffffffff;
    }

    .exit button{
        width: 100px;
        height: 30px;
        border-radius: 8pt;
        border-style: solid;
        margin: 4px;
    }
